*.avif binary
*.bcmap binary
*.doc binary
*.docx binary
*.gif binary
*.heic binary
*.heif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.wasm binary
*.webp binary
*.zip binary

# Self-hosted OCR runtime and license files are integrity-pinned byte-for-byte.
public/ocr/licenses/*.txt binary
public/ocr/runtime/*.js binary
